@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.marker{
  font-family: 'Permanent Marker', cursive;
}

#bootlock h1, 
#bootlock h4,
#bootlock h3,
#bootlock h5{
  margin: 0;
}

#bootlock p{
  margin: 0;
}

/*------------ */

html, body {margin: 0; height: 100%; overflow: hidden}

.cent-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.middlecol{
  height: calc(20vh - 5em)
}

/* intro */

.hammer{
  font-family: 'Racing Sans One', cursive;
}

/* Primo.js */
.firstback{
  top: -10%;
  left: 38vw;
}

#bootlock .unofirst{
  margin-left: 30%;
}

.barraintro{
  margin-left: 0%;
  top: -5vh;
  width: 70%;
  height: 12vh;
}

.barraintro h2{
  padding-left: 5%;
}

/* single was 10vh */

.mobilefirst h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  height: 2em;
}

.single{
  height: 45vh;
  width: 45vh;
  margin-top: 12vh;
}

.singlepresent{
  background-position: center center;
  background-size: cover;
}

#bootlock .singlesecond{
  height: 15vh;
  width: 15vh;
  background-position: center center;
  background-size: cover;
}

#bootlock .singlename{
  width: calc(100% - 15vh );
}

.singletext{
  width: 45vw;
  z-index: 5;
  top: 70%;
  left: 60%;
}

/**/

.naviga{
  position: fixed;
  top: 0; /* 0 for testing */
  z-index: 5;
  height: 5em;
}

#bootlock .meno{
  left: 0px;
  scrollbar-width: none;
}


/* secondo */
.secondTitle{
  width: 80%;
  height: 8em;
}

.secondTitle > p{
  font-size: 1.15em;
}

.present{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
}

.carta{
  height: 55vh;
}

/* navbar */

#bootlock .nav-item.col-3{
  transition: 1s;
}

.fondo{
  height: 100%;
  width: 100%;
  background-image: url("./imma/Roundabout.png");
  background-position: center;
  background-size: cover;

}

.sfondo{
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: url("./imma/intro.jpg");
  background-position: center center;
  background-size: cover;
}

.colonna1{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  /*background-image: url("./imma/intro.jpg");*/
  background-position: center center;
  background-size: cover;
}




.sini{
  height: 9vh;

  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.des{
  height: 9vh;

  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

/* to change on media query */
.taglio{

  height: 9vh;
}

/* Terzo */

.thirdImage{
  background-position: center center;
  background-size: cover;
}

.centered{
  background-size: cover;
  background-position: center center;
}

.thirdPresent{
  height: 100%;
  padding-top: calc(25vw + 4%);
}

/* Quarto */

.fourthback{
  top: -32%;
  left: -45%;
}

.scrollo{
  scrollbar-width: none;
  scrollbar-color: yellow orange;
}


.caroselheight{
  height: 65vh;
}

.immagine{
  width: 100%;
  height: 20vh;
}

/*This is the red space for the mobile version*/
.immagine1{
  width: 14vh;
  height: 100%;
}

.bassofondo{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.maxiscreen{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.orizontimma{
  height: 100%;
  width: 14vh;
}

.altofondo{
  width: 14vh;
  height: 100%;
  background-position: center;
  background-size: cover;
}


.quartotest{
  width: 80%;
}

/* --------------------- */
:root{
  --col: 0px
}



@media only screen and (max-width: 576px){

  /* --- */
  .middlecol{
    height: calc(16vh - 5em)
  }
  
  /*quarto */
  .quartotest{
    width: 100%;
  }

  /* Primo.js */
  .firstback{
    top: 20%;
    left: 0vw;
  }

  #bootlock .unofirst{
    margin-left: 28%;
  }

  .barraintro{
    margin-left: -18%;
    top: -5vh;
    width: 70%;
    height: 8vh;
  }

  .single{
    height: 30vh;
    width: 30vh;
    margin-top: 8vh;
  }

  #bootlock .singlesecond{
    height: 7vh;
    width: 7vh;
  }

  #bootlock .singlename{
    width: calc(100% - 7vh);
  }

  .singletext{
    width: 64vw;
    top: 82%;
    left: 6%;
  }

  /* Secondo.js */
  .secondTitle{
    width: 95%;
    height: 9em;
  }

  .secondTitle > p{
    font-size: 1em;
  }

  /* Terzo.js */

  /* Fourth */
  .fourthback{
    top: -46%;
    left: -40%
  }

  /* footer */
  .taglio, .sini, .des{
    height: 6.5vh;
  }

  .caroselheight{
    height: 40vh;
  }

  .carta{
    height: 35vh;
  }

  /* stycky colonne  */

}

@media only screen and (max-width: 400px){

  .barraintro{
    width: 80%;
    margin-left: -19%;
  }

  .barraintro h2{
    padding-left: 2%;
  }

  #bootlock .singlesecond{
    height: 6vh;
    width: 6vh;
  }

  #bootlock .singlename{
    width: calc(100% - 6vh);
  }


}