
$enable-important-utilities: false;

/*
The four colors used for this webpage will be
#FFCD10 / hsla(47, 100%, 53%, 1)
#10FF55 / hsla(137, 100%, 53%, 1)
#1042FF / hsla(227, 100%, 53%, 1)
#FF10B9 / hsla(318, 100%, 53%, 1)

The order will be red/blue/green/yellow
318, 137, 227, 47

*/

$base: 318;

#bootlock .text-danger{
  color: hsl(var(--base, $base), 100%, 45%);
}

#bootlock .bg-danger{
  background-color: hsl(var(--base, $base), 100%, 45%);
  transition: 1s;
}

.nav-item.col-3.active{
  background-color: hsl(var(--base, $base), 100%, 65%);
  color: hsl(var(--base, $base), 100%, 45%);
  transition: 1s;
}

#bootlock .barra{
  position: absolute;
  bottom: 0;
  border-bottom: 3px solid hsl(var(--base, $base), 100%, 35%);
  width: 17%;
}

@import '~bootstrap/scss/bootstrap.scss';