@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.marker{
  font-family: 'Permanent Marker', cursive;
}

.hammer{
  font-family: 'Racing Sans One', cursive;
}


#bootlock h1, 
#bootlock h2,
#bootlock h4,
#bootlock h3,
#bootlock h5{
  margin: 0;
}

#bootlock p{
  margin: 0;
}

/*------------ */
html, body {margin: 0; height: 100%; overflow: hidden}

.cent-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered{
  background-size: cover;
  background-position: center center;
}

/* Home.js, ParallaxLayer sticky columns */

#bootlock .noScroll{
  left: 0px;
  scrollbar-width: none;
}

.firstback{
  top: -10%;
  left: 38vw;
}

.fourthback{
  top: -36%;
  left: -45%;
}

.lato{
  vertical-align: top;
  margin-top: 5em;
  overflow: hidden;
}

.colonna{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-position: center center;
  background-size: cover;
}

.colImag{
  height: 20vh;
  width: 20vh;
  border-radius: 30%;
}

.mobilefirst h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  height: 2em;
}

.middleCol{
  display: inline-block;
  margin-top: 5em;
}

.middleCol div{
  height: calc(20vh - 5em);
}

/* Navbar.js */

.naviga{
  position: fixed;
  top: 0;
  z-index: 5;
  height: 5em;
}

.fondo{
  height: 100%;
  width: 100%;
  background-image: url("./imma/Roundabout.png");
  background-position: center;
  background-size: cover;
}

/* Intro.js */

.sfondo{
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-image: url("./imma/intro.jpg");
  background-position: center center;
  background-size: cover;
}

#bootlock .introText{
  margin-top: 2.5em
}

.introText h1{
  font-size: 3.5em;
}

/* Primo.js */

#bootlock .unoParallax{
  width: 70%;
  height: 100vh;
  overflow: hidden;
  margin-left: 30%;
}

.barraintro{
  margin-left: 0%;
  top: -5vh;
  width: 70%;
  height: 12vh;
}

.barraintro h2{
  padding-left: 5%;
}

.barraTour{
  justify-content: center;
  white-space: nowrap;
  overflow-x: hidden;
  top: 12vh;
}

.single{
  height: 45vh;
  width: 45vh;
  margin-top: 12vh;
}

.singlepresent{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.singletext{
  width: 45vw;
  z-index: 5;
  top: 70%;
  left: 60%;
}

#bootlock .singlesecond{
  height: 15vh;
  width: 15vh;
  background-position: center center;
  background-size: cover;
}

#bootlock .singlename{
  width: calc(100% - 15vh );
}

/* Secondo.js */

.secondTitle{
  width: 80%;
  /*height: 8em;*/
}

.carta{
  height: 55vh;
}

.present{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
}

/* Third.js */

.thirdTitle{
  padding-top: 5%;
}

.shortenText{
  display: flex;
}

.shortenBar{
  height: 65%;
}

.shortenSect{
  height: 42vh;
}

.thirdPresent{
  height: 100%;
  padding-top: calc(25vw + 4%);
}

/* Fourth.js */

.fourthIntro{
  padding-top: 1vh;
  height: 22vh;
  width: 85%;
}

.fourthCarousel{
  width: 80%;
  height: 65vh;
}

.carouselWin{
  width: 80%;
  height: 65vh;
}

.immagine{
  width: 100%;
  height: 20vh;
}

.bassofondo{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.caroselheight{
  height: 65vh;
}

.maxiscreen{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.mobileBorder{
  width: 15vh;
  height: 100%;
}

.mobileOriz{
  height: 100%;
  width: 15vh;
}

.imgOriz{
  width: 15vh;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Footer.js */

.mailText{
  font-size: 2.5rem;
}

.sini{
  height: 9vh;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.des{
  height: 9vh;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

.contactCut{
  height: 9vh;
}


@media only screen and (max-width: 1000px){
  /* first.js text for section */
  .singletext{
    width: 64vw;
    top: 82%;
    left: 6%;
  }
}

@media only screen and (max-width: 765px){
  /* Home */
  .middleCol div{
    height: calc(16vh - 5em)
  }

  /* Fourth.js */
  .carouselWin{
    width: 100%;
    height: auto;
  }

  .caroselheight{
    height: 40vh;
  }

  .carta{
    height: 35vh;
  }

  /* Fourth.js */
  .mailText{
    font-size: 2.2rem;
  }

}


@media only screen and (max-width: 576px){

  /* Home */
  .firstback{
    display: none;
    top: 20%;
    left: 0vw;
  }

  .fourthback{
    top: -45%;
    left: -40%
  }

  /* Intro */
  #bootlock .introText{
    margin-top: 1em
  }

  .introText h1{
    font-size: 3em;
  }

  /* Primo.js */
  #bootlock .unoParallax{
    margin-left: 28%;
  }

  .barraintro{
    margin-left: -18%;
    top: -5vh;
    width: 70%;
    height: 8vh;
  }

  .single{
    height: 30vh;
    width: 30vh;
    margin-top: 8vh;
  }

  #bootlock .singlesecond{
    height: 7vh;
    width: 7vh;
  }

  #bootlock .singlename{
    width: calc(100% - 7vh);
  }

  /* secondo.js */
  .secondTitle{
    width: 95%;
    /*height: 9em;*/
  }

  /* footer */
  .contactCut, .sini, .des{
    height: 6.5vh;
  }

}

@media only screen and (max-width: 400px){

  /* Primo.js */
  .barraintro{
    width: 80%;
    margin-left: -19%;
  }

  .barraintro h2{
    padding-left: 2%;
  }

  #bootlock .singlesecond{
    height: 6vh;
    width: 6vh;
  }

  #bootlock .singlename{
    width: calc(100% - 6vh);
  }
}


/* remove text on third and add from 65% to 100% the loadBar 
It seems how to do the height  */
@media (max-height: 690px){

  /* Third.js */
  .shortenText{
    display: none;
  }

  .shortenBar{
    height: 100%;
  }

  /* Fourth.js */
  .fourthIntro{
    height: 12vh;
  }

  .fourthIntro div{
    display: none;
  }
  
}

@media (max-height: 550px){

  /* Home.js */
  .middleCol{
    display: none;
  }

  /* Intro.js */
  #bootlock .introText{
    margin-top: 3em;
  }

  #bootlock .introText h1{
    font-size: 2em;
  }

  #bootlock .introText p{
    font-size: 1em;
  }

  /* Third.js */
  .shortenSect{
    height: 40vh;
  }

  .shortenPixel{
    display: none;
  }

  /* Footer.js */
  .mailText{
    font-size: 1.7em;
  }
}
