
#bootlock h1{
  margin: 0;
}

#bootlock p{
  margin: 0;
}

/*------------ */

.naviga{
  position: fixed;
  top: 0;
  z-index: 5;
  height: 5em;
}

#bootlock .meno{
  left: 0px;
  scrollbar-width: none;
}

/* secondo */
.present{
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
}

.carta{
  height: 55vh;
}

/* navbar */

#bootlock .nav-item.col-3{
  transition: 1s;
}

.fondo{
  height: 100%;
  width: 100%;
  background-image: url("./imma/Roundabout.png");
  background-position: center;
  background-size: cover;

}

.sfondo{
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-image: url("./imma/intro.jpg");
  background-position: center center;
  background-size: cover;
}

.colonna1{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-image: url("./imma/intro.jpg");
  background-position: center center;
  background-size: cover;
}

.sini{
  background-color: orange;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.des{
  background-color: orange;
  clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

.taglio{
  background-color: orange;
  height: 5vh;
}

/* Quarto */
.scrollo{
  scrollbar-width: none;
  scrollbar-color: yellow orange;
}

.caroselheight{
  height: 65vh;
}

.immagine{
  width: 100%;
  height: 20vh;
}

.immagine1{
  width: 20vh;
  height: 100%;
}

.bassofondo{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.maxiscreen{
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.orizontimma{
  height: 100%;
  width: 20vh;
}

.altofondo{
  width: 20vh;
  height: 100%;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 550px){
  
  .caroselheight{
    height: 45vh;
  }

  .carta{
    height: 35vh;
  }

}

